.sidebar{
    flex:3;
    /* background-color:#e3e3e3; */
    height:100vh ;
   overflow-y: scroll;

   
}

.sidebar ::-webkit-scrollbar {
    width:5px;
    margin: 0px;
  }
  
  

  

.sidebarList{
    list-style: none;
    padding:0px;
    margin:0px;
}

.sidebarListItems{
   display: flex;
   align-items: center;
   margin: 20px;
   height: 40px;
}

.sidebarIcons{
    margin-right: 18px;
}

.friendimg{
    height:30px;
    width: 30px;
    border-radius: 50%;
    /* padding-right: 10px; */
}

